<main>
    <div class="image">
        <img src="login-volunteer.jpg" alt="login-volunteer image">
    </div>
    <div class="text">
        <h1>Inicia sesión</h1>
        <p>¡Bienvenido! Ingresa tus datos para iniciar sesión en Voluntify.</p>
        <div class="login">

            <!--Campo de correo-->
            <mat-form-field appearance="fill" class="custom-form-field">
                <mat-label class="email">Email</mat-label>
                <input matInput formControlName="correo" required />
            </mat-form-field>
            
            <!--Campo de contraseña-->
            <mat-form-field appearance="fill" class="custom-form-field">
                <mat-label class="password">Contraseña</mat-label>
                <input matInput formControlName="contrasena" required />
            </mat-form-field>
            <button routerLink="/main">Iniciar sesión</button>
            <p>¿No tienes una cuenta? <a [routerLink]="'/register-volunteer'" class="link">Regístrate</a></p>
        </div>
    </div>
</main>