<app-navbar-main-page />
<main class="content">

  <div class="image">
    <img src="main.jpg" alt="main">
  </div>
  <h3>Últimas novedades</h3>
  
  <div class="row">
    <div *ngFor="let voluntariado of voluntariados">
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ voluntariado.nombre }}</mat-card-title>
          <mat-card-subtitle>Descripción: {{ voluntariado.descripcion }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Ubicación: {{ voluntariado.ubicacion }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="ConocerMas(voluntariado)" class="custom-button">Conoce más</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</main>

