<app-navbar-main-page />

<main class="content">
    <div class="perfil">
      <div *ngFor="let organizaciones of organizaciones">
        <div class="card-perfil" appearance="outlined">
          <div class="info">
            <mat-card-title>{{ organizaciones.nombre }}</mat-card-title>
            <mat-card-content>
              <p>{{ organizaciones.descripcion }}</p>
              <p><strong>Ubicacion: </strong>{{organizaciones.direccion}}</p>
              <p><strong>Correo:</strong> {{ organizaciones.correo }}</p>
              <p><strong>Telefono: </strong>{{ organizaciones.telefono }}</p>
            </mat-card-content>
          </div>
        </div>
      </div>
    </div>

    <h3>Voluntariados de su organizacion</h3>
    <div class="row">
        <div *ngFor="let voluntariados of voluntariados">
          <mat-card class="card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ voluntariados.titulo }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ voluntariados.descripcion }}</p>
              <p><strong>Fecha de inicio:</strong> {{ voluntariados.fecha_inicio }}</p>
              <p><strong>Fecha de fin:</strong> {{ voluntariados.fecha_fin }}</p>
              <p><strong>Ubicación:</strong> {{ voluntariados.ubicacion }}</p>
              <p><strong>Requisitos:</strong> {{ voluntariados.requisitos }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="setIdVoluntariado(voluntariados)">
                Seleccionar
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  
  </main>