<app-navbar-main-page />

<main>
    <div class="content">
        <!-- Información Personal -->
        <div *ngFor="let usuario of usuario">
          <div class="card-perfil" appearance="outlined">
            <mat-card-title>{{ usuario.nombre }} {{ usuario.apellido }}</mat-card-title>
            <mat-card-content>
              <p>{{ usuario.telefono }}</p>
              <p>{{ usuario.direccion }}</p>
            </mat-card-content>
          </div>

          <div class="edit">
  
              <!-- Campo para actualizar el correo -->
              <mat-form-field appearance="fill">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput [(ngModel)]="usuario.correo"/>
              </mat-form-field>
              <button mat-raised-button (click)="actualizarCorreo(usuario)">
                Actualizar Correo
              </button>

              <!-- Campo para actualizar el telefono -->
              <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput [(ngModel)]="usuario.telefono"/>
              </mat-form-field>
              <button mat-raised-button (click)="actualizarTelefono(usuario)">
                Actualizar Telefono
              </button>

              <!-- Campo para actualizar la direccion -->
              <mat-form-field appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput [(ngModel)]="usuario.direccion"/>
              </mat-form-field>
              <button mat-raised-button (click)="actualizarDireccion(usuario)">
                Actualizar Direccion
              </button>
          </div>
          <div class="habilidades">
            <!-- Habilidades -->              
              <div class="row">
                <h3>Tus habilidades:</h3>
                <div *ngFor="let habilidad of habilidad">
                  <div class="card" appearance="outlined">
                    <mat-card-header>
                    <mat-card-title>{{ habilidad.habilidad_nombre}}</mat-card-title>
                  <!-- <button (click)="agregarHabilidad(habilidad.habilidad_codigo)">Agregar Habilidad</button> -->
                    </mat-card-header>
                  </div>
                </div>
              </div>

            <!-- Habilidades en total -->              
              <div class="row">
                <h3>Todas las habilidades:</h3>
                <div *ngFor="let habilidadesTotal of habilidadesTotal">
                  <div class="card" appearance="outlined">
                    <mat-card-header>
                      <mat-card-title>{{ habilidadesTotal.nombre + "  / " }}</mat-card-title>
                      <mat-card-title>{{ habilidadesTotal.descripcion}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-actions>
                      <button mat-button color="primary" (click)="agregarHabilidad(habilidadesTotal.codigo)">Agregar Habilidad</button>
                    </mat-card-actions>
                  </div>
                </div>
              </div>
          </div>

          <div class="intereses">
              <!-- Intereses -->
              <div class="row">
                  <h3>Tus intereses: </h3>
                  <div *ngFor="let interes of interes">
                   <div class="card" appearance="outlined">
                    <mat-card-header>
                    <mat-card-title>{{ interes.interes_nombre}}</mat-card-title>
                    </mat-card-header>
                  </div>
                  </div>
                </div>

            <!-- Intereses en total -->              
            <div class="row">
              <h3>Todos los intereses:</h3>
              <div *ngFor="let interesTotal of interesTotal">
                <div class="card" appearance="outlined">
                  <mat-card-header>
                    <mat-card-title>{{ interesTotal.nombre}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-actions>
                    <button mat-button color="primary" (click)="agregarInteres(interesTotal.codigo)">Agregar Habilidad</button>
                  </mat-card-actions>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
  </main>
  