<main>
    <div class="container">
      <h3>Elige tu plan de suscripción</h3>
      
      <div class="row">
        <div *ngFor="let organizacion of organizaciones">

            <div class="card" appearance="outlined">
                <mat-card-header>
                <mat-card-title>Premium</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p><strong>Premium: $40 al año</strong></p>
                <!-- Grupo de botones de radio para seleccionar el plan -->
                <mat-radio-group [(ngModel)]="organizacion.suscripcion_activa">
                    <mat-radio-button value="true">Premium</mat-radio-button>
                </mat-radio-group>
                </mat-card-content>
            </div>
            <div class="card" appearance="outlined">
                <mat-card-header>
                <mat-card-title>Free</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p><strong>Free: $0 al año</strong></p>
                <!-- Grupo de botones de radio para seleccionar el plan -->
                <mat-radio-group [(ngModel)]="organizacion.suscripcion_activa">
                    <mat-radio-button value="false">Free</mat-radio-button>
                </mat-radio-group>
                </mat-card-content>
            </div>
            <!-- Solo un botón para actualizar la suscripción -->
            <button mat-raised-button color="accent" (click)="actualizarSuscripcion(organizacion)">
                Actualizar suscripción
            </button>
        </div>
      </div>
  
      <!-- Botón de cancelar -->
      <div class="cancel-button">
        <button mat-button (click)="cancelar()" class="custom-button">Cancelar</button>
      </div>
    </div>
  </main>
  