mat-toolbar {
    background-color: #FAF0FB;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    font-family: 'Poppins', sans-serif;
}

.example-spacer {
    flex: 1 1 auto;
}

button.mat-icon-button {
    color: black;
}
