<app-navbar-start-page />


<main>
    <div class="content">
        <h1>Conecta,<br>Ayuda,<br>Transforma.</h1>
        <h2>Encuentra el voluntariado perfecto para ti en</h2>
        <h2>Voluntify</h2>
        <div class="options">
            <button routerLink="/login">Iniciar sesión</button>
            <p>o</p>
            <button routerLink="/register">Regístrate gratis</button>
        </div>
    </div>
    <div class="image">
        <img src="main.jpeg" alt="main image">
    </div>
</main>
