<app-navbar-main-page />

<main class="content">

    <h3>Todos los voluntariados</h3>

    <div class="search-by-name">
    <mat-form-field appearance="fill">
        <mat-label>Buscar por nombre</mat-label>
        <input matInput [(ngModel)]="nombreBuscar" (input)="getVoluntariadosByName()">
      </mat-form-field>
      <button (click)="getVoluntariadosByName()">
        <mat-icon>search</mat-icon>
      </button>  
    </div>

    <div class="row">
        <div *ngFor="let voluntariado of voluntariados">
            <div class="card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{ voluntariado.nombre }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descripción: {{ voluntariado.descripcion }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button routerLink="/volunteers" class="custom-button">Conoce más</button>
              </mat-card-actions>
            </div>
        </div>
    </div>

</main>



