<main>
    <h1>Regístrate gratis</h1>
    <h3>Estas a un paso de ser parte del cambio en tu comunidad</h3>
    <div class="options">
        <div class="register-volunteer">
            <img src="register-volunteer.jpg" alt="main image">
            <button routerLink="/register-volunteer">Quiero ser voluntario</button>
        </div>
        <div class="register-organization">
            <img src="register-organization.jpg" alt="main image">
            <button routerLink="/register-organization">Quiero inscribir a mi organización</button>
        </div>
    </div>
</main>
