<app-navbar-organizations />
<main class="content">
    <h3>Info de la organizacion</h3>
    
    <div class="row">
      <div *ngFor="let organizaciones of organizaciones">
        <mat-card class="card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>Nombre de la organizacion: {{ organizaciones.nombre }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Descripción: {{ organizaciones.descripcion }}</p>
            <p>Codigo: {{ organizaciones.codigo }}</p>
            <p>Ubicación: {{ organizaciones.correo }}</p>
            <p>Ubicación: {{ organizaciones.telefono }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <h3>Voluntariados de su organizacion</h3>
    <div class="row">
        <div *ngFor="let voluntariados of voluntariados">
          <mat-card class="card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>Nombre: {{ voluntariados.titulo }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Descripción: {{ voluntariados.descripcion }}</p>
              <p>Codigo: {{ voluntariados.fecha_inicio }}</p>
              <p>Ubicación: {{ voluntariados.fecha_fin }}</p>
              <p>Ubicación: {{ voluntariados.ubicacion }}</p>
              <p>Ubicación: {{ voluntariados.ubicacion }}</p>
              <p>Ubicación: {{ voluntariados.requisitos }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
                    
      <div *ngFor="let organizaciones of organizaciones">
        <div class="card" appearance="outlined">  
        <!-- Campo para actualizar la contraseña -->
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="organizaciones.contrasena"/>
        </mat-form-field>
        <button mat-raised-button (click)="actualizarContrasena(organizaciones)">
          Actualizar Contraseña
        </button>
      </div>
    </div>

      <mat-card-actions>
        <button mat-button routerLink="/organization-main" class="custom-button">Volver a inicio</button>
      </mat-card-actions>

      <mat-card-actions>
        <button mat-button routerLink="/create-event" class="custom-button">Crear nuevo evento</button>
      </mat-card-actions>
  </main>