<app-navbar-organizations />
<main class="content">
    <div class="perfil">
      <div *ngFor="let organizaciones of organizaciones">
        <div class="card-perfil" appearance="outlined">
          <div class="info">
            <mat-card-title>{{ organizaciones.nombre }}</mat-card-title>
            <mat-card-content>
              <p>{{ organizaciones.descripcion }}</p>
              <p>{{ organizaciones.correo }}</p>
              <p>{{ organizaciones.telefono }}</p>
            </mat-card-content>
          </div> 
        </div>
      </div>
    </div>

    <h3>Voluntariados de su organizacion</h3>
    <div class="row">
        <div *ngFor="let voluntariados of voluntariados">
          <mat-card class="card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ voluntariados.titulo }}</mat-card-title>
              <mat-card-subtitle>{{ voluntariados.descripcion }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Inicio: {{ voluntariados.fecha_inicio }}</p>
              <p>Fin: {{ voluntariados.fecha_fin }}</p>
              <p>{{ voluntariados.ubicacion }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  
  </main>