<mat-toolbar>
    <span>VOLUNTIFY</span>
    <span class="example-spacer"></span>
    <div class="navbar">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile-organization">
              <mat-icon>person</mat-icon>
              <span>Ver perfil</span>
            </button>
            <button mat-menu-item routerLink="/subscription">
              <mat-icon>payment</mat-icon>
              <span>Quiero suscribirme</span>
            </button>
            <button mat-menu-item routerLink="/start">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
          </mat-menu>
          
    </div>
</mat-toolbar>