<main>
    <div class="text">
        <h1>Inicia sesión</h1>
        <p>¡Bienvenido! Ingresa los datos del administrador de la organización para iniciar sesión en Voluntify.</p>
        <div class="login">
            <form [formGroup]="loginOrganizationForm" (ngSubmit)="LoginOrganization()"></form>

            <!-- Campo de nombre -->
          <mat-form-field appearance="fill" class="custom-form-field">
            <mat-label class="nombre">Nombre de la organización</mat-label>
            <input matInput formControlName="nombre" required />
          </mat-form-field>
  
          <!-- Campo de contraseña -->
          <mat-form-field appearance="fill" class="custom-form-field">
            <mat-label class="password">Contraseña</mat-label>
            <input matInput formControlName="contrasena" required />
          </mat-form-field>

            <button routerLink="/main">Iniciar sesión</button>
            <p>¿No tienes una cuenta? <a [routerLink]="'/register-organization'" class="link">Registra a tu organización</a></p>
        </div>
    </div>
    <div class="image">
        <img src="login-organization.jpg" alt="login-volunteer image">
    </div>
</main>