<app-navbar-organizations />
<main class="content">
    <h3>Lista De Inscritos</h3>
    <div class="row">
        <div *ngFor="let inscripciones of inscripciones">
          <mat-card class="card" appearance="outlined">
            <mat-card-content>
              <p>Estado: {{ inscripciones.estado ? 'Aceptado' : 'Rechazado' }}</p>
              <p>fecha_inscripcion: {{ inscripciones.fecha_inscripcion }}</p>
            </mat-card-content>
          </mat-card>
          <mat-card-actions>
            <button mat-button (click)="setidAceptar(inscripciones)" class="custom-button">Ver perfil de usuario</button>
          </mat-card-actions>
        </div>
      </div>

      <mat-card-actions>
        <button mat-button routerLink="/organization-main" class="custom-button">Volver a inicio</button>
      </mat-card-actions>
  </main>